In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('car_prices.csv')
df

,Car Model,Mileage,Sell Price($),Age(yrs)
0,BMW X5,69000,18000,6
1,BMW X5,35000,34000,3
2,BMW X5,57000,26100,5
3,BMW X5,22500,40000,2
4,BMW X5,46000,31500,4
5,Audi A5,59000,29400,5
6,Audi A5,52000,32000,5
7,Audi A5,72000,19300,6
8,Audi A5,91000,12000,8
9,Mercedez Benz C class,67000,22000,6
10,Mercedez Benz C class,83000,20000,7
11,Mercedez Benz C class,79000,21000,7
12,Mercedez Benz C class,59000,33000,5

In [4]:
df = df.rename(columns = {'Car Model' : 'Model','Sell Price($)': 'Price'})
df.columns.to_list()

['Model', 'Mileage', 'Price', 'Age(yrs)']

In [5]:
dummies = pd.get_dummies(df.Model)
dummies

,Audi A5,BMW X5,Mercedez Benz C class
0,0,1,0
1,0,1,0
2,0,1,0
3,0,1,0
4,0,1,0
5,1,0,0
6,1,0,0
7,1,0,0
8,1,0,0
9,0,0,1
10,0,0,1
11,0,0,1
12,0,0,1

In [6]:
merged = pd.concat([df,dummies],axis = "columns")
merged.columns

Index(['Model', 'Mileage', 'Price', 'Age(yrs)', 'Audi A5', 'BMW X5',
       'Mercedez Benz C class'],
      dtype='object')

In [7]:
final = merged.drop(['Model','Mercedez Benz C class'],axis = 'columns')
final

,Mileage,Price,Age(yrs),Audi A5,BMW X5
0,69000,18000,6,0,1
1,35000,34000,3,0,1
2,57000,26100,5,0,1
3,22500,40000,2,0,1
4,46000,31500,4,0,1
5,59000,29400,5,1,0
6,52000,32000,5,1,0
7,72000,19300,6,1,0
8,91000,12000,8,1,0
9,67000,22000,6,0,0
10,83000,20000,7,0,0
11,79000,21000,7,0,0
12,59000,33000,5,0,0

In [8]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [9]:
X = final.drop(['Price'],axis = 'columns')
y = df.Price
X

,Mileage,Age(yrs),Audi A5,BMW X5
0,69000,6,0,1
1,35000,3,0,1
2,57000,5,0,1
3,22500,2,0,1
4,46000,4,0,1
5,59000,5,1,0
6,52000,5,1,0
7,72000,6,1,0
8,91000,8,1,0
9,67000,6,0,0
10,83000,7,0,0
11,79000,7,0,0
12,59000,5,0,0

In [ ]:
model.fit(X,y)

LinearRegression()

In [ ]:
print(f'BMW: {model.predict([[25000,4,0,1]])}')

BMW: [37655.55177272]

In [ ]:
print(f'Audi: {model.predict([[25000,4,1,0]])}')

Audi: [41940.21836112]

Audi: [44393.75909838]